<meta charset="utf-8">

<wicket:panel>
  	<li><a wicket:id="link-home"><wicket:message key="menu.home"/></a></li>
  	<li><a wicket:id="link-users"><wicket:message key="menu.users"/></a></li>
    <li><a wicket:id="link-places"><wicket:message key="menu.places"/></a></li>
  	<li><a wicket:id="link-cars"><wicket:message key="menu.cars"/></a></li>
    <li><a wicket:id="link-registry"><wicket:message key="menu.events"/></a></li>
  	<li><a wicket:id="link-reports"><wicket:message key="menu.reports"/></a></li>
 </wicket:panel>